body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980  ;
}

.green {
    background-color: #81f9a5;
}

.purple {
    background-color: #63c0b5 ;
}


.flash {
    background-color: white;
}


.user {
    background-color: green;
}